@charset "UTF-8";
.head {
  background-color: #c9ccd1;
}
body{
  background-color: #c9ccd1;
}
div {
  background-color: #c9ccd1;
}
div p {
  margin-left: 10px;
  font-family: Garamond;
  font-size: 20px;
}
footer {
  font-size: 12px;
  background-color: #222;
  text-align: center;
  padding: 12px;
}
.footerFont {
  color: #eee;
}
